.addToDo {
  border: 0;
  font-weight: 500;
  font-family: Inter;
  font-size: 18px;
  background-color: transparent;
  align-self: stretch;
  position: relative;
  line-height: 24px;
  color: #7d7d94;
  text-align: left;
}
